<div class="text-layout">
  <h3>{{ nombre | titlecase }}</h3>
  <h3>{{ numero | number }}</h3>

  <p-card [header]="nombre | titlecase" subheader="subheader">
    <p class="m-0">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Inventore sed consequuntur error repudiandae numquam deserunt quisquam repellat libero asperiores earum nam nobis, culpa ratione quam perferendis esse, cupiditate neque
        quas!
    </p>
  </p-card>
</div>

<button 
  pButton 
  (click)="mostrarNombre()"
  icon="pi pi-check"
  iconPos="right"
  class="p-button-help" 
  label="Cambiar nombre"
>
</button>